{% extends 'base.html.twig' %}

{% block title %}TFE | Home
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('/build/unveil-effects/animations.css') }}" rel="stylesheet">
	<link href="{{ asset('/build/css/hub.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<!--  ********** HEADER SECTION ********** -->
	<div id="h" style="background: url({{ asset('/build/img/background.jpg') }}) no-repeat center top;">
		<div class="container">
			<div class="centered">
				<h1>Communication LoRaWAN sur microcontrôleur PIC</h1>
				<br><br>
				<a class="btn btn-transparent" href="{{ path('app_login') }}" style="color: white; border: 1px solid white; font-size: 25px;">Login</a>
				<a class="btn btn-transparent" href="{{ path('temperature') }}" style="color: white; border: 1px solid white; font-size: 25px;">Température</a>
			</div>
			<!--/row -->
		</div>
		<!-- /container -->
	</div>
	<!--/header-->

	<!--  ********** WHITE SECTION ********** -->
	<div id="w">
		<div class="container">
			<div class="centered">
				<h4>INFORMATIONS</h4>
				<br/>
				<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
				</svg>
				<!--col-md-8 -->
			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</div>
	<!--/w -->

	<!--  ********** GREEN SECTION ********** -->
	<div id="g">
		<div class="container">
			<div class="row mt">
				<div class="col-md-6 centered">
                    <img src="{{ asset('/build/img/logoProteus.png') }}" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
				</div>
				<!--/col-md-6 -->

				<div class="col-md-4">
					<h1 data-effect="slide-right">Electronique</h1>
					<p>
						La confection du PCB a été simulée avec le logiciel Proteus. 
						<br>
						Voici les composants utilisés sur la carte :
					</p>
                    <ul class="list">
						<li class="list-item">pic18f45k50</li>
						<li class="list-item">LM35</li>
						<li class="list-item">HC-SR04</li>
						<li class="list-item">Module Lora</li>
					</ul>
				</div>
				<!--/col-md-4 -->

			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</div>
	<!--/G -->

	<!--  ********** RED SECTION ********** -->
	<div id="r">
		<div class="container">
			<div class="row mt">
				<div class="col-md-4 col-md-offset-2">
					<h1 data-effect="slide-left">Application Web</h1>
					<p>
						La technologie utilisée pour la partie web de ce projet est le framework Symfony, un ensemble de composants PHP. 
						<br><br>
						Il nous offre une API complète avec un système de sécurité simple à implémenter.
					</p>
				</div>
				<!--/col-md-4 -->
				<div class="col-md-6 centered">
					<img src="{{ asset('/build/img/logoSymfony.png') }}" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-right">
				</div>
				<!--/col-md-6 -->
			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</div>
	<!--/R -->

	<!--  ********** BLUE SECTION ********** -->
	<div id="b">
		<div class="container">
			<div class="row mt">
				<div class="col-md-6 centered">
					<img src="{{ asset('/build/img/logoOVH.png') }}" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
				</div>
				<!--/col-md-6 -->

				<div class="col-md-4">
					<h1 data-effect="slide-right">Serveur</h1>
					<p>
						Pour héberger notre application web, nous utilisons un VPS fournit par l'hébergeur OVH.
						<br>
						Le nom de domaine à également été pris chez eux. 
					</p>
				</div>
				<!--/col-md-4 -->

			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</div>
	<!--/B -->

	<div id="copyrights">
    <div class="container">
      <p>
        Renaud ALLARD & Nathan HENRY
      </p>
      <div class="credits">
        Créé pour notre TFE. <a href="https://www.ephec.be/">Ephec</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('/build/unveil-effects/unveil-effects.js') }}"></script>
	<script src="{{ asset('/build/js/hub.js') }}"></script>
{% endblock %}
